<!-- templates/cronjob/create.html
     Used by Cronjob Create View -->

{% extends 'cronjob/base.html' %}

{% block title %}WebCron | Erstellung{% endblock %}

{% block content %}
    <h2>Cronjob erstellen</h2>

    <p>Füllen sie das Formular aus, um einen cron-Job zu anzulegen. es werden HTTP- als auch HTTPS-URLunterstüzt.
        Falls die URL mit HTTP-Authentifizierung gesichert ist (z.B. ".htaccess"-Passwortschutz), hinterlegen sie bitte
        auch
        die entsprechenden Zugangsdaten,
        damit wir die Webseite korrekt abrufen können.
    </p>

    <p><span class="hint">Hinweis:</span> Weitere erweiterte Einstellungen für ihren Cron-Job können sie nach dem
        Anlegen vornehmen, indem Sie den Job bearbeiten.
    </p>


    <form>
        <div class="container" name="Title">
            <input id="InputTitle" type="text" placeholder="Titel"/>
            <input id="InputURL" type="text" placeholder="https://">
        </div>

        <div class="container" name="Auth">

        </div>

        <div class="container" name="Execution">

        </div>

        <div class="container" name="Notify">

            <div class="input-group mb-3">

                <div class="input-group-prepend">
                    <div class="input-group-text">

                        <input type="checkbox" aria-label="Checkbox for following text input">
                    </div>
                </div>
                <input type="text" class="form-control" aria-label="Text input with checkbox">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <input type="checkbox" aria-label="Checkbox for following text input">
                    </div>
                </div>
                <input type="text" class="form-control" aria-label="Text input with checkbox">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <input type="checkbox" aria-label="Checkbox for following text input">
                    </div>
                </div>
                <input type="text" class="form-control" aria-label="Text input with checkbox">
            </div>
        </div>

        <div class="container" name="Common">

        </div>
    </form>

{% endblock %}